<section class="hero-section" id="hero">
  <div class="container hero-container">
    <img class="hero-img" src="../img/hero/hero-img-mob.png" alt="" />
    <h1 class="hero-title">
      Merge, Explore, and Build Your Candy Empire in Candy Critters!
    </h1>
    <p class="hero-text">
      Lead a team of adorable Chomplets on a delightful adventure through
      Sweetopia! Merge, recruit, and expand your candy-clearing operation while
      uncovering hidden treasures and growing your profits.
    </p>
    <a
      class="hero-btn"
      href="https://play.google.com/store/apps/details?id=com.playsidestudios.candycritters&hl=en&gl=us"
      rel="noopener noreferrer"
      target="_blank"
      title="Download the game Brain Sage Champion on Google Play"
      aria-label="Download the game Brain Sage Champion on Google Play"
    >
      <img
        class="hero-btn-img"
        src="../img//hero/hero-btn-mob.png"
        alt=""
        width="215"
      />
    </a>
  </div>
</section>
